/* 
GLOBAL STYLES 
*/

html {
     background-color: #023020;
     
     
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0 auto;
    height: 100%;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    max-width: 1500px;
    /* background-color: white; */
}

img {
    max-width: 100%;
}

 /* 
 HEADER SECTION 
 */

/* Navbar base styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: #000f0a;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
}

.logo img {
  height: 2.5rem;
}

.logo h1 {
  font-size: 1.2rem;
  margin: 0;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.search-form {
  display: flex;
   gap: 1rem;
   justify-content: center;
   margin: 1rem;
   
}

.search-form input,
.search-form textarea {
  width: 60%;
  height: 15%;
  padding: 0.75rem 1rem;
  margin-bottom: 0.1;
  background-color: #000f0a;
  border: 0.1rem solid #000f0a;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  color: white;
  outline: none;
}

.search-form button {
  width: 30%;
  height: 30%;
  padding: 0.75rem;
  margin-bottom: 0.1rem;
  background-color: #d4a54f;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}


/* Hamburger hidden on desktop */
/* .hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
} */


.logo h1 {
  font-size: 1.25rem;    /* 20px */
}

.navbar {
  padding: 1.5rem 2rem;  /* 24px top/bottom, 32px left/right */
}



/*
BOX LAYOUTS 
 */

 .card {
  background-color: #000f0a;
  border: 0.2rem #000f0a solid;
  border-radius: 0.6rem;
  padding: 0.25rem 0.5rem;
  margin: 1rem 1rem 1rem 1rem;
  color: white;
  
  
}

.card h3 {
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
}

/*
TABLE SECTION 
 */


table, th, td {
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem; /* Adds space between rows */
  font-family: sans-serif;
}

thead th {
  padding: 0.4rem 1.1rem;
  text-align: left;
  font-weight: bold;
}
thead tr {
  background-color: #000f0a;              /* Same yellow background */
  box-shadow: 0 0 0 1px #333;          /* Outer border like the rows */
}


tbody tr {
  box-shadow: 0 0 0 1px #333;
  
}

tbody td {
  padding: 0.15rem;
  border-top: 1px solid transparent; /* Prevent cell borders from clashing */
}

/* Rounded corners for each row */
tbody tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

tbody tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* 
PRICE UP OR DOWN ARROW
*/

.price-up {
  color: green;
}

.price-down {
  color: red;
}



/*
AIRDROP SECTION Grid section
 */

 .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 0.3rem; /* spacing between items */
}

.grid-item {
  background-color: #111;
  padding: 1rem;
  border-radius: 0.3rem;
  color: white;
  text-align: center;
  font-size: 0.5rem;
}

.grid-item img {
    width: 3rem;
    height: 3rempx;
    border: 0.2rem solid #023020;
    border-radius: 50%;
}

.grid-item h3 {
    font-size: 0.7rem;
    text-align: center;
}

.grid-item button {
    font-size: 0.7rem;
    background-color: #d4a54f;
    border: #0e0e0e solid;
    border-radius: 8px;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    
}



/* 
SUBSCRIBE SECTION
*/

.subscribe-form {
  background-color: #0e0e0e;  /* Matches card background */
  padding: 1rem;
  border-radius: 12px;
  margin-top: 1rem;
  color: white;
   display: flex;
  gap: 1rem;
  align-items: center;
}

.subscribe-form input,
.subscribe-form textarea {
  width: 60%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 0.95rem;
  color: white;
  outline: none;
}

.subscribe-form button {
  width: 40%;
  padding: 0.75rem ;
  margin-bottom: 1rem;
  background-color: #d4a54f;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}




/*
REPORT TOKEN SECTION
 */

.report-token-form {
  background-color: #0e0e0e;  /* Matches card background */
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1rem;
  color: white;
}

.report-token-form h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.report-token-form input,
.report-token-form textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 0.95rem;
  color: white;
  outline: none;
}

.report-token-form input::placeholder,
.report-token-form textarea::placeholder {
  color: #777;
}

.report-token-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #d4a54f;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.report-token-form button:hover {
  background-color: #c6953d;
}




/*
TOP LISTING SECTION
 */

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

#grid-item2 {
  margin-bottom: 1rem;
}

.grid-item2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #111;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px #111;
}

.grid-item2 img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.grid-item2 h4 {
  margin: 0;
  padding: 0 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.grid-item2 p {
  margin: 0;
  font-size: 0.65rem;
  color: #fcfcfc;
  font-weight: 100;
}

.grid-item2 div {
  display: flex;
  flex-direction: column;
}

/* 
FOOTER SECTION
*/


footer {
  background-color: #000f0a;
  color: white;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 5rem 0;
}

footer a {
  color: #c6953d;
}
footer a:hover {
  color: #e09201;
}

.social-icons a {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}







/* Responsive: Mobile view */
@media (min-width: 768px) {
  
.navbar {
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  flex-wrap: wrap;
  
}

.nav-links {
  padding: 0 0 0 2.4rem;
  font-size: 1rem;
}

.logo img {
  height: 3.5rem;
}
.logo h1 {
  padding: 0 10rem 0 0;;
  font-size: 1.6rem;
}


.search-form button {
  font-weight: bold;
  font-size: 0.85rem;
  
}



.search-form input,
.search-form textarea {
  font-size: 0.85rem;
  
}


  .card {
    margin: 1rem 2.7rem;
    padding: 0 1.4rem;
  }

  .card h3 {
    font-size: 1.1rem;
    text-align: left;
    font-weight: bold;
}

table, th, td {
    font-size: 1rem;
}
thead th {
  padding: 0.5rem 2.2rem;
  text-align: left;
  font-weight: bold;
}
tbody td {
  padding: 0.5rem;
}


.grid-item {
  padding: 1rem;
  text-align: center;
  font-size: 0.55rem;
}
.grid-item h3 {
    font-size: 1.2rem;
    text-align: center;

}

.grid-item button {
    font-size: 1.1rem;
    width: 45%;
    margin: 0 2rem;

    padding: 0.5rem 0.8rem;
    
}

footer {
  padding: 1rem;
  margin: 5rem 0;
  font-size: 0.65rem;
}


}
 


@media (min-width: px)















